body {
  margin: 0;
  padding: 0;
}
main {
  background-color: rgb(235, 235, 235);
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.avatar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  list-style: none;
  margin: 20px;
  padding: 0;
  width: 650px;
  height: 300px;
  font-size: 25px;
  font-family: "Times New Roman";
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 0 2px;
}
.login {
  padding: 10px;
  font-size: 35px;
  display: block;
  position: relative;
  bottom: 30px;
  margin: 0;
  padding: 0;
  width: 270px;
  height: 125px;
}
.image {
  width: 150px;
  height: 150px;
  position: relative;
  left: 160px;
}
.contributions {
  padding-top: 62px;
  font-size: 25px;
}
div.message {
  height: 50px;
  width: 150px;
  position: relative;
  top: 100px;
  right: 35%;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba($color: #888888, $alpha: 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
p.message {
  position: relative;
}
div.selector select{
    display: block;
    width: 300px;
    height: 50px;
    font-size: 25px;
    position: relative;
    left: 45%;
    color: #17bdff;
    border-radius: 15px;
    
}
